<mat-card class="thContent">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Enter time manually
            </mat-expansion-panel-header>
            <div>
                <mat-form-field>
                    <mat-select [(value)]="project" placeholder="Project">
                       <mat-option [value]="pj.TASK_NR" *ngFor="let pj of taskService.projects" (click)="taskService.getWorkPacks(project)">{{pj.NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(value)]="workPack" placeholder="Work Package">
                       <mat-option [value]="wp.TASK_NR" *ngFor="let wp of taskService.workPacks" (click)="taskService.getTasks(workPack)">{{wp.NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(value)]="task" placeholder="Task">
                       <mat-option [value]="t.TASK_NR" *ngFor="let t of taskService.tasks">{{t.NAME}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [value]="date.value" placeholder="Today:&nbsp;{{curDate}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            <input class="timeInput" type="text" [(ngModel)]="startTime" placeholder="{{curTime}}" style="text-align:right">
            -
            <input class="timeInput" type="text" [(ngModel)]="endTime" placeholder="{{curTime}}">
            <button mat-mini-fab (click)="submit()"><mat-icon>done</mat-icon></button>
        </mat-expansion-panel>
    </mat-accordion>

    <!--table border="1" *ngIf="allProjects&&allWorkPacks&&allTasks">
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Description</th>
            <th>Project</th>
            <th>Work Package</th>
            <th>Task</th>
        </tr>
        <tr *ngFor="let track of httpService.timeTracks">
            <td>{{track.START_TIME}}</td>
            <td>{{track.END_TIME}}</td>
            <td>{{track.DESCRIPTION}}</td>
            <td>{{getProject(track.PROJ_ID).NAME}}</td>
            <td>{{getWorkPack(track.PACK_ID).NAME}}</td>
            <td>{{getTask(track.TASK_ID).NAME}}</td>
        </tr>
    </table-->
    <mat-table *ngIf="httpService.timeTracks&&allProjects&&allWorkPacks&&allTasks" #table [dataSource]="httpService.timeTracks" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="startTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{tt.START_TIME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>End Time</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{tt.END_TIME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{tt.DESCRIPTION}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="projName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{getProject(tt.PROJ_ID).NAME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="packName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Work Package</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{getWorkPack(tt.PACK_ID).NAME}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="taskName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Task</mat-header-cell>
        <mat-cell *matCellDef="let tt">{{getTask(tt.TASK_ID).NAME}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="dC"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dC;"></mat-row>
    </mat-table>
</mat-card>
