<mat-table #wptable [dataSource]="taskService.workPacks" style="margin-top:15px">
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let wrkPck; columns: columnsToDisplay"></mat-row>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let wp">{{wp.NAME}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let wp">{{wp.DESCRIPTION}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete col</mat-header-cell>
    <mat-cell *matCellDef="let wp"><button mat-icon-button (click)="deleteTask(wp.TASK_NR)"><mat-icon>delete</mat-icon></button></mat-cell>
  </ng-container>
</mat-table>