<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="openService.isOpen">
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/project-report">Project Report</button>
    <button mat-button routerLink="/timer-history">Timer History</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button routerLink="/projects">Tasks</button>
    <button mat-button routerLink="/export">Export</button>
    <button mat-button routerLink="/login" (click)="authService.logout()" >Logout</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
