.mat-body {
    margin-top: 15px;
    text-align: center;
}

pre {
    padding: 30px 10px 30px 10px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    overflow: scroll;
    height: 70vh;
    width: 70vw;
    margin: 0 auto;
    font-family: "Courier New";
}
