/* Container */

.mat-body {
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 15px;
}

/* Header */
#welcome {
    margin-top: 5px;
    text-align: center;
}

/* Row 1 */

#row1 {
    margin-top: 20px;
    /* needed for setting to block layout and the right width */
    overflow: hidden;
}

/* Row 1 Col 1 */

#row1col1 {
    float: left;
    width: 50%;
    //background-color: #f4f4f4;
}

#projectChart {
    /* set margin-top because there is no dropdown */
    margin-top: 65.5px;
}

/* Row 1 Col 2 */

#row1col2 {
    width: 50%;
    float: left;
    //background-color: #f4f4f4;
}

#row1col2row1col2 {
    /* set text-align for dropdown */
    text-align: center;
}

/* Row 2 */

#row2 {
    clear: both;
    margin-top: 70px;
    /* needed for setting to block layout and the right width */
    overflow: hidden;
    min-height: 500px;
}

/* Row 2 Col 1 */

#row2col1 {
    float: left;
    width: 50%;
    //background-color: #f4f4f4;
}

#workingPackageDetailFormField {
    margin-right: 10px;
}

/* Row 2 Col 2 */

#row2col2 {
    width: 50%;
    float: left;
    //background-color: #f4f4f4;
}