<div *ngIf="authService.isLoggedIn">
  <label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [value]="date" placeholder="{{curDate}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </label>
  <label>
    <input class="timeInput" [(ngModel)]="input" placeholder="{{input}}" [disabled]="running">
  </label>
  <span><button mat-mini-fab (click)="onSelect()"><mat-icon id="startButton">play_arrow</mat-icon></button></span>
  <span><button mat-mini-fab (click)="submit(input)" [disabled]="input=='0:00:00'">Enter</button></span>
</div>
