.timeInput {
  max-width:60px;
  text-align:right;
}

.spinner {
  margin:auto;
  position:fixed;
  bottom:50%;
  right:50%;
  transform:translate(50%, -50%);
}

button {
  margin-left:5px;
  margin-right:5px;
}