<div *ngIf="authService.isLoggedIn && !loading">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="project">PJ</button>
    <mat-menu #project="matMenu">
      <button mat-menu-item *ngIf="!taskService.projects" disabled><mat-spinner [diameter]="40"></mat-spinner></button>
      <button mat-menu-item *ngFor="let project of taskService.projects" (click)="curProj=project;taskService.getWorkPacks(project.TASK_NR)">
        {{project.TASK_NR}} | {{project.NAME}}
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="workPack" [disabled]="!curProj">WP</button>
    <mat-menu #workPack="matMenu">
      <button mat-menu-item *ngFor="let workPack of taskService.workPacks" (click)="curWP=workPack;taskService.getTasks(workPack.TASK_NR)">
        {{workPack.TASK_NR}} | {{workPack.NAME}}
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="task" [disabled]="!curWP">T</button>
    <mat-menu #task="matMenu">
      <button mat-menu-item *ngFor="let task of taskService.tasks" (click)="curTask=task;curTaskName=task.NAME">{{task.TASK_NR}} | {{task.NAME}}</button>
    </mat-menu>
  </span>
  <span *ngIf="curTask" class="mat-body">Task: "{{curTaskName}}" |</span>
  <label>
    <input type="text" placeholder="What are you going to do?" [(ngModel)]="desc" style="width:170px"/>
  </label>
  <span>{{displayedTime}}</span>
  <button mat-mini-fab
                (click)="playButton()"
                *ngIf="!running"
                [disabled]="!curProj||!curWP||!curTask">
    <mat-icon>play_arrow</mat-icon></button>
  <button mat-mini-fab
                (click)="playButton()"
                *ngIf="running">
    <mat-icon>pause</mat-icon></button>
  <button mat-mini-fab
                (click)="reset()"
                [disabled]="displayedTime=='0:00:00' || running">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
