<div *ngIf="authService.isLoggedIn && !loading">
  <span>{{displayedTime}}</span>
  <span><button mat-mini-fab (click)="onSelect()" *ngIf="!running"><mat-icon>play_arrow</mat-icon></button></span>
  <span><button mat-mini-fab (click)="onSelect()" *ngIf="running"><mat-icon>pause</mat-icon></button></span>
  <span><button mat-mini-fab (click)="submit(input)" [disabled]="displayedTime=='0:00:00' || running"><mat-icon>done</mat-icon></button></span>
</div>
<!--button (click)="stopDbTimer()">STOP!!!</button-->
<mat-spinner *ngIf="loading" class="spinner"></mat-spinner>