/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin:0;
    padding:0;
}

body {
    /* remove vertical scrollbar */
    overflow-x: hidden;
}

/*
 * Styles fuer die ProjectReport Component (Gruppenstyles)
 */

.vis-label.timeline-subprojects {
    font-weight: bold;
    font-size: 16px;
}

.vis-label.timeline-workpacks {
    padding-left: 15px;
    font-style: italic;
}

.vis-label.timeline-tasks {
    padding-left: 30px;
}


