  <div>
    <mat-card>
      <mat-card-content class = "flex-box">
        <div class ="items-elements">
          <mat-card class = "Profile-Picture">
            <mat-card-header>
              <mat-card-title style="font-size: 20px">My Profile Picture</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" style="margin-top:10px" alt="Profile Picture of the User">
          </mat-card>
        </div>
        <div class ="second-item">
            <form class="personal-date-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" name="firstname" [(ngModel)]="updatedUser.FIRSTNAME">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" name="lastname" [(ngModel)]="updatedUser.LASTNAME">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" name="mail" [(ngModel)]="updatedUser.MAIL">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name" name="username" [(ngModel)]="updatedUser.USERNAME">
            </mat-form-field>
            <button mat-raised-button (click)="ngOnInit()">Discard</button>
            <button mat-raised-button (click)="openSaveDialog()">Save</button>
            </form>
            <br>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


